*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
    
    @media (max-width: 720px) {
      font-size: 87.5%;
    }
  }
}

:root{
  --Primary: #8124E2;
  --Secoundary: aliceblue;
  --Gray_font1: #828CA9;
  --Gray_font2: #727376;
  --Black: #000000;
  --White: #ffffff;
}

body {
  background-color: var(--Primary);
  font-family: 'Ubuntu', sans-serif;
  color: var(--Secoundary) ;
}

body, input, textarea, button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 400;
}

button {
  cursor: pointer;
}

.container {
 width: 100vw;
 height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

